@page
@model MyWeb.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TblUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TblUser.UserId" class="control-label"></label>
                <input asp-for="TblUser.UserId" class="form-control" />
                <span asp-validation-for="TblUser.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblUser.RoleId" class="control-label"></label>
                <select asp-for="TblUser.RoleId" class ="form-control" asp-items="ViewBag.RoleId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TblUser.FirstName" class="control-label"></label>
                <input asp-for="TblUser.FirstName" class="form-control" />
                <span asp-validation-for="TblUser.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblUser.LastName" class="control-label"></label>
                <input asp-for="TblUser.LastName" class="form-control" />
                <span asp-validation-for="TblUser.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblUser.Password" class="control-label"></label>
                <input asp-for="TblUser.Password" class="form-control" />
                <span asp-validation-for="TblUser.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblUser.PhoneNumber" class="control-label"></label>
                <input asp-for="TblUser.PhoneNumber" class="form-control" />
                <span asp-validation-for="TblUser.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblUser.Address" class="control-label"></label>
                <input asp-for="TblUser.Address" class="form-control" />
                <span asp-validation-for="TblUser.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblUser.Email" class="control-label"></label>
                <input asp-for="TblUser.Email" class="form-control" />
                <span asp-validation-for="TblUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TblUser.Gender" /> @Html.DisplayNameFor(model => model.TblUser.Gender)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TblUser.Username" class="control-label"></label>
                <input asp-for="TblUser.Username" class="form-control" />
                <span asp-validation-for="TblUser.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblUser.Avatar" class="control-label"></label>
                <input asp-for="TblUser.Avatar" class="form-control" />
                <span asp-validation-for="TblUser.Avatar" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TblUser.ActiveStatus" /> @Html.DisplayNameFor(model => model.TblUser.ActiveStatus)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TblUser.Status" class="control-label"></label>
                <select asp-for="TblUser.Status" class ="form-control" asp-items="ViewBag.Status"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
