@page
@model MyWeb.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Create Account";
    Layout = "_Layout_Register";

}

<link rel="stylesheet" href="~/css/CRUD.css" />

<div class="container-fluid w-50 register-container">
    <h2 class="text-center font-weight-bold" style="font-size: 38px; margin-bottom: 20px">
        Joining to FDepartment
    </h2>
    <p class="text-center" style="font-size: 20px; margin-bottom: 40px">A trustworthy place to manage <span class="text-primary">News</span> and <span class="text-primary">Posts</span></p>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group id-hide">
            <label asp-for="User.UserId" class="control-label"></label>
            <input asp-for="User.UserId" class="form-control" />
            <span asp-validation-for="User.UserId" class="text-danger"></span>
        </div>
        <div class="form-group id-hide">
            <label asp-for="User.RoleId" class="control-label"></label>
            <select asp-for="User.RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
        </div>
        <div class="d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label mb-2 normal-label"></label>
                <input asp-for="User.FirstName" class="form-control" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastName" class="control-label mb-2 normal-label"></label>
                <input asp-for="User.LastName" class="form-control" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="User.Password" class="control-label mb-2 normal-label"></label>
                <input asp-for="User.Password" class="form-control" type="password" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label mb-2 normal-label">Confirm password</label>
                <input asp-for="User.Password" class="form-control" type="password" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="User.PhoneNumber" class="control-label mb-2 normal-label"></label>
                <input asp-for="User.PhoneNumber" class="form-control" />
                <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Address" class="control-label mb-2 normal-label"></label>
                <input asp-for="User.Address" class="form-control" />
                <span asp-validation-for="User.Address" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="form-group">
                <label class="form-check-label mb-2 normal-label">Gender</label>
                <select asp-for="User.Gender" class="form-control">
                    <option value="true">
                        Male
                    </option>
                    <option value="false">
                        Female
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label mb-2 normal-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group id-hide">
            <label asp-for="User.Status" class="control-label"></label>
            <select asp-for="User.Status" class="form-control" asp-items="ViewBag.Status"></select>
        </div>
        <div class="form-group">
            <input type="submit" value="Create account" class="btn btn-primary w-100 p-2 mt-3" />
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}