@page
@model MyWeb.Pages.Users.EditModel

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/CRUD.css" />

<div class="container-fluid">
    <div class="edit-profile-container">
        <h1>Edit profile of <span class="profile-name">minh nhut</span></h1>

        <div class="edit-fields">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="User.UserId" />
                <div class="form-group id-hide">
                    <label asp-for="User.RoleId" class="control-label"></label>
                    <select asp-for="User.RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                    <span asp-validation-for="User.RoleId" class="text-danger"></span>
                </div>

                <div class="edit-field">
                    <h2>Basic Info</h2>
                    <div class="form-group">
                        <label asp-for="User.FirstName" class="control-label"></label>
                        <input asp-for="User.FirstName" class="form-control" />
                        <span asp-validation-for="User.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.LastName" class="control-label"></label>
                        <input asp-for="User.LastName" class="form-control" />
                        <span asp-validation-for="User.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Email" class="control-label"></label>
                        <input asp-for="User.Email" class="form-control" />
                        <span asp-validation-for="User.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.PhoneNumber" class="control-label"></label>
                        <input asp-for="User.PhoneNumber" class="form-control" />
                        <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Address" class="control-label"></label>
                        <input asp-for="User.Address" class="form-control" />
                        <span asp-validation-for="User.Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="edit-field">
                    <h2>Security</h2>
                    <div class="form-group">
                        <label asp-for="User.Password" class="control-label"></label>
                        <input asp-for="User.Password" class="form-control" />
                        <span asp-validation-for="User.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Confirm password</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                </div>
                
                
                <div class="form-group form-check id-hide">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="User.Gender" /> @Html.DisplayNameFor(model => model.User.Gender)
                    </label>
                </div>
                <div class="form-group id-hide">
                    <label asp-for="User.Status" class="control-label"></label>
                    <select asp-for="User.Status" class="form-control" asp-items="ViewBag.Status"></select>
                    <span asp-validation-for="User.Status" class="text-danger"></span>
                </div>
                <div class="form-group edit-field">
                    <input type="submit" value="Save Profile Information" class="btn btn-primary w-100" />
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
