@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/Index.css" />

<div class="my-index container-fluid">

    <div class="left-content">
        <p class="font-weight-bold mb-2">Menu</p>
        <ul>
            <a href="/">
            <li class="d-flex align-items-center">
                <div class="home-icon icon"></div>
                Home
            </li>
            </a>
            <a href="/">
            <li class="d-flex align-items-center">
                <div class="home-icon icon"></div>
                Home
            </li>
            </a>
            <a href="/">
            <li class="d-flex align-items-center">
                <div class="home-icon icon"></div>
                Home
            </li>
            </a>
            <a href="/">
            <li class="d-flex align-items-center">
                <div class="home-icon icon"></div>
                Home
            </li>
            </a>


        </ul>
    </div>
    <div class="mid-content ">
        <p class="font-weight-bold mb-2">Latest</p>

        <div class="news news1">
            <div class="owner">
                <img src="~/img/user.png" />
                <div class="infos">
                    <p class="name">Phan Minh Nhut</p>
                    <p class="date">Jun 20 6:43 PM</p>
                </div>
            </div>
            <div class="news-body">
                <div class="title">
                    <h1>Bản tin thông báo cho khu B nhà dưới lòng đất.</h1>
                </div>
                <div class="tags">
                    <p class="tag">#chungcu</p>
                    <p class="tag">#longdat</p>
                    <p class="tag">#canho</p>
                </div>
                <div class="react">
                    <div class="likes">
                        <ion-icon name="thumbs-up-outline"></ion-icon>
                        <p>20 Likes</p>
                    </div>
                    <div class="comments">
                        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                        <p>5 Comments</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="news news2">
            <div class="owner">
                <img src="~/img/user.png" />
                <div class="infos">
                    <p class="name">Phan Minh Nhut</p>
                    <p class="date">Jun 20 6:43 PM</p>
                </div>
            </div>
            <div class="news-body">
                <div class="title">
                    <h1>Bản tin thông báo cho khu B nhà dưới lòng đất.</h1>
                </div>
                <div class="tags">
                    <p class="tag">#chungcu</p>
                    <p class="tag">#longdat</p>
                    <p class="tag">#canho</p>
                </div>
                <div class="react">
                    <div class="likes">
                        <ion-icon name="thumbs-up-outline"></ion-icon>
                        <p>20 Likes</p>
                    </div>
                    <div class="comments">
                        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                        <p>5 Comments</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="news news3">
            <div class="owner">
                <img src="~/img/user.png" />
                <div class="infos">
                    <p class="name">Phan Minh Nhut</p>
                    <p class="date">Jun 20 6:43 PM</p>
                </div>
            </div>
            <div class="news-body">
                <div class="title">
                    <h1>Bản tin thông báo cho khu B nhà dưới lòng đất.</h1>
                </div>
                <div class="tags">
                    <p class="tag">#chungcu</p>
                    <p class="tag">#longdat</p>
                    <p class="tag">#canho</p>
                </div>
                <div class="react">
                    <div class="likes">
                        <ion-icon name="thumbs-up-outline"></ion-icon>
                        <p>20 Likes</p>
                    </div>
                    <div class="comments">
                        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                        <p>5 Comments</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="news news4">
            <div class="owner">
                <img src="~/img/user.png" />
                <div class="infos">
                    <p class="name">Phan Minh Nhut</p>
                    <p class="date">Jun 20 6:43 PM</p>
                </div>
            </div>
            <div class="news-body">
                <div class="title">
                    <h1>Bản tin thông báo cho khu B nhà dưới lòng đất.</h1>
                </div>
                <div class="tags">
                    <p class="tag">#chungcu</p>
                    <p class="tag">#longdat</p>
                    <p class="tag">#canho</p>
                </div>
                <div class="react">
                    <div class="likes">
                        <ion-icon name="thumbs-up-outline"></ion-icon>
                        <p>20 Likes</p>
                    </div>
                    <div class="comments">
                        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                        <p>5 Comments</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-content">
        <div class="hownews-top d-flex justify-content-between">
            <p class="font-weight-bold mb-2">Hot News</p>
            <a class="text-primary" href="/all">See all</a>
        </div>
        <div class="list-body">
            <div class="hotn hotn1">
                <h1 class="title">
                    Thông báo cúp điện nguyên ngày!
                </h1>
                <p class="time">Jun 27</p>
            </div>
            <div class="hotn hotn2">
                <h1 class="title">
                    Sửa chửa hệ thống nước ngầm ở khu A
                </h1>
                <p class="time">Oct 2</p>
            </div>
            <div class="hotn hotn3">
                <h1 class="title">
                    Cập nhật giá xăng cộ
                </h1>
                <p class="time">Jun 27</p>
            </div>
            <div class="hotn hotn4">
                <h1 class="title">
                    Thông báo tìm trẻ lạc...
                </h1>
                <p class="time">May 15</p>
            </div>
        </div>
    </div>

</div>
