@page
@model MyWeb.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
    Layout = "_Layout_Profile";
}

<link rel="stylesheet" href="~/css/Profile.css" />
<div class="container-fluid">
    <div class="profile-container">
        <div class="bg-1">
            <div class="name-ava">
                <div class="ava-bg">
                    <img src="~/img/user.png" />
                </div>
                <p class="profile-name">Phan Minh Nhựt</p>
            </div>
        </div>
        <div class="personal-info-and-posts">
            <div class="personal-infos">
                <div class="infos-item">
                    <p class="info-title">Gender</p>
                    <p class="info-content">Male</p>
                </div>
                <div class="infos-item">
                    <p class="info-title">Address</p>
                    <p class="info-content">Chung Cu B</p>
                </div>
                <div class="infos-item">
                    <p class="info-title">Email</p>
                    <p class="info-content">dancu@gmail.com</p>
                </div>
                <div class="infos-item">
                    <p class="info-title">Phone</p>
                    <p class="info-content">0954151245</p>
                </div>
                <div class="infos-item">
                    <p class="info-title">Role</p>
                    <p class="info-content">danngu</p>
                </div>
            </div>
            <div class="personal-posts">
                <div class="empty-posts">
                    <p class="empty-post-alert">
                        You don't have any posts yet
                    </p>
                </div>
                @*<div class="news">
                    <div class="owner">
                        <img src="~/img/user.png" />
                        <div class="infos">
                            <div class="flex-text">
                                <p class="name">Phan Minh Nhut</p>
                                <ion-icon name="caret-forward-outline"></ion-icon>
                                <p class="name">Chung Cư Khu B</p>
                            </div>
                            <div class="flex-textt">
                                <p class="date">Jun 20 6:43 PM</p>
                                <img src="~/img/lock.png" />
                            </div>
                        </div>
                    </div>
                    <div class="news-body">
                        <div class="title">
                            <a asp-page="./PostDetail">Bản tin thông báo cho khu B nhà dưới lòng đất.</a>
                        </div>
                        <div class="tags">
                            <p class="tag">#chungcu</p>
                            <p class="tag">#longdat</p>
                            <p class="tag">#canho</p>
                        </div>
                        <div class="react">
                            <div class="likes">
                                <button>
                                    <ion-icon name="heart-outline"></ion-icon>
                                </button>
                                <p>20 Likes</p>
                            </div>
                            <div class="comments">
                                <button>
                                    <ion-icon name="chatbubble-outline"></ion-icon>
                                </button>
                                <p>5 Comments</p>
                            </div>
                            <div class="views">
                                <ion-icon name="eye-outline"></ion-icon>
                                <p>20</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news">
                    <div class="owner">
                        <img src="~/img/user.png" />
                        <div class="infos">
                            <div class="flex-text">
                                <p class="name">Phan Minh Nhut</p>
                                <ion-icon name="caret-forward-outline"></ion-icon>
                                <p class="name">Chung Cư Khu B</p>
                            </div>
                            <div class="flex-textt">
                                <p class="date">Jun 20 6:43 PM</p>
                                <img src="~/img/lock.png" />
                            </div>
                        </div>
                    </div>
                    <div class="news-body">
                        <div class="title">
                            <a asp-page="./PostDetail">Bản tin thông báo cho khu B nhà dưới lòng đất.</a>
                        </div>
                        <div class="tags">
                            <p class="tag">#chungcu</p>
                            <p class="tag">#longdat</p>
                            <p class="tag">#canho</p>
                        </div>
                        <div class="react">
                            <div class="likes">
                                <button>
                                    <ion-icon name="heart-outline"></ion-icon>
                                </button>
                                <p>20 Likes</p>
                            </div>
                            <div class="comments">
                                <button>
                                    <ion-icon name="chatbubble-outline"></ion-icon>
                                </button>
                                <p>5 Comments</p>
                            </div>
                            <div class="views">
                                <ion-icon name="eye-outline"></ion-icon>
                                <p>20</p>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>
