/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}*/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    background-color: var(--backgroundColor);
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*my style*/

*:focus {
    outline: 0 !important;
}
/*  **************************** Home page navigation ***************************  */


/*  **************************** Home page body ***************************  */
.my-index {
    gap: 15px;
    display: flex;
}

/* =============== left content ================== */
.left-content {
    width: 20%;
}

.home-icon {
    width: 20px;
    height: 20px;
    background-image: url('../img/house.png');
    background-position: center;
    background-size: cover;
}

.group-icon {
    width: 20px;
    height: 20px;
    background-image: url('../img/people.png');
    background-position: center;
    background-size: cover;
}

.anounce-manage-icon {
    width: 20px;
    height: 20px;
    background-image: url('../img/anouncement.png');
    background-position: center;
    background-size: cover;
}

.user-manage-icon {
    width: 20px;
    height: 20px;
    background-image: url('../img/team.png');
    background-position: center;
    background-size: cover;
}

.post-manage-icon {
    width: 20px;
    height: 20px;
    background-image: url('../img/post.png');
    background-position: center;
    background-size: cover;
}

.post-resident-manage-icon {
    width: 20px;
    height: 20px;
    background-image: url('../img/management.png');
    background-position: center;
    background-size: cover;
}

.left-content a {
    color: #000;
}

.left-content ul li {
    padding: 10px;
    cursor: pointer;
}

    .left-content ul li:hover {
        border-radius: 10px;
        background-color: #a2aaff57;
    }

        .left-content ul li:hover > a {
            color: blue !important;
        }


.left-content .icon {
    margin-right: 10px;
}
/* =============== mid content ================== */
.mid-content {
    width: 55%;
}

.news {
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.1);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 25px;
}

.news-body {
    margin-left: 45px;
    margin-top: 10px;
}

    .news-body .title {
        font-size: 30px;
        font-weight: 700;
        cursor: pointer;
    }

        .news-body .title a {
            color: #000;
            text-decoration: none;
        }

            .news-body .title a:hover {
                color: #150ec9;
            }

    .news-body .tags {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        cursor: pointer;
        padding: 2px;
    }

        .news-body .tags .tag {
            padding: 5px;
            border: 1px solid #fff;
        }

            .news-body .tags .tag:hover {
                border-radius: 5px;
                background-color: #e4e3e3;
                border: 1px solid #999;
            }

    .news-body .react {
        margin-top: 15px;
        display: flex;
        gap: 20px;
    }

        .news-body .react .likes,
        .news-body .react .comments {
            display: flex;
            gap: 5px;
            cursor: pointer;
            padding: 10px;
        }

        .news-body .react .views {
            display: flex;
            gap: 5px;
            padding: 10px;
        }

            .news-body .react .likes button,
            .news-body .react .comments button,
            .news-body .react .views button {
                border: none;
                background-color: transparent;
            }

        .news-body .react .likes:hover,
        .news-body .react .comments:hover {
            background-color: #e9e8e8;
            border-radius: 5px;
        }


.news .owner {
    display: flex;
    gap: 10px;
}

    .news .owner .name {
        font-weight: 600;
        margin-bottom: 5px;
        cursor: pointer;
    }

    .news .owner .date {
        font-size: 13px;
    }

.news img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.news .infos .flex-text {
    display: flex;
    gap: 5px;
}

.news .infos .flex-textt {
    display: flex;
    gap: 5px;
    align-items: center;
}

    .news .infos .flex-textt img {
        width: 16px;
        height: 16px;
        cursor: unset;
    }

.not-found-item {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 800;
    color: #191919;
}
/* =============== right content ================== */
.right-content {
    width: 25%;
}

.list-body {
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.1);
    border-radius: 5px;
    padding: 10px;
}

.hownews-top a {
    text-decoration: none;
}

.list-body .hotn {
    padding: 12px 10px;
    cursor: pointer;
}

.list-body .title {
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 5px;
}

    .list-body .title:hover {
        color: #150ec9;
    }

/*  **************************** Home page footer ***************************  */


.list-body .dis-group {
    padding: 12px 10px;
    display: flex;
    flex-direction: column;
}

    .list-body .dis-group .dis-title {
        text-decoration: none;
        font-weight: 600;
        cursor: pointer;
        margin-bottom: 10px;
    }

        .list-body .dis-group .dis-title:hover {
            text-decoration: underline;
        }

    .list-body .dis-group .dis-status {
        display: flex;
        gap: 10px;
        align-items: center;
    }

        .list-body .dis-group .dis-status p {
            font-weight: 600;
            font-size: 15px;
            color: #999;
        }

        .list-body .dis-group .dis-status img {
            width: 20px;
            height: 20px;
        }

.divider {
    height: 0px;
    border-top: 1px solid #999;
    margin-top: 1em;
}

