* {
    margin: 0;
    padding: 0;
}

    *:focus {
        outline: 0 !important;
    }

.g-10 {
    gap: 10px;
}

.stat-active {
    color: #2ecc71;
    font-weight: 700;
    text-transform: uppercase;
}

.stat-pending {
    color: #908f8f;
    font-weight: 700;
    text-transform: uppercase;
}

.stat-rejected {
    color: #e74c3c;
    font-weight: 700;
    text-transform: uppercase;
}

.management-container {
    margin-top: 8%;
    display: flex;
    gap: 20px;
}

.view-detail-btn {
    border: none;
    padding: 8px 6px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff !important;
    font-weight: 700;
    background-color: #0094ff;
    transition: 0.2s;
    text-decoration: none !important;
    cursor: pointer;
}

    .view-detail-btn:hover {
        background-color: #007bffad;
        text-decoration: none !important;
    }

.approve-btn {
    border: none;
    padding: 8px 6px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff !important;
    font-weight: 700;
    transition: 0.2s;
    background-color: #0094ff;
    margin-right: 10px;
    text-decoration: none !important;
    cursor: pointer;
}

    .approve-btn:hover {
        background-color: #007bffad !important;
        text-decoration: none !important;
    }

.approve-btn-green {
    border: none;
    padding: 8px 6px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff !important;
    font-weight: 700;
    transition: 0.2s;
    background-color: #2ecc71;
    margin-right: 10px;
    text-decoration: none !important;
    cursor: pointer;
}

    .approve-btn-green:hover {
        text-decoration: none !important;
    }

.reject-btn {
    border: none;
    padding: 8px 6px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff !important;
    font-weight: 700;
    transition: 0.2s;
    background-color: #e74c3c;
    text-decoration: none !important;
    cursor: pointer;
}

    .reject-btn:hover {
        text-decoration: none !important;
    }

.add-btn {
    border: none;
    padding: 8px 6px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff !important;
    font-weight: 700;
    transition: 0.2s;
    background-color: #2ecc71;
    text-decoration: none !important;
    cursor: pointer;
}

    .add-btn:hover {
        text-decoration: none !important;
    }

.reason-btn {
    border: none;
    padding: 8px 6px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff !important;
    font-weight: 700;
    transition: 0.2s;
    background-color: #5d5b5b;
    text-decoration: none !important;
    cursor: pointer;
}

    .reason-btn:hover {
        text-decoration: none !important;
    }

.create-group-btn {
    height: fit-content;
    padding: 10px;
    color: #fff !important;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none !important;
    background-color: #2ecc71;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

    .create-group-btn:hover {
        text-decoration: none !important;
    }

.not-found-item {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 800;
    color: #191919;
}
/* ========== table container ==========*/
.table-container {
    width: 80%;
}

.manager-title {
    margin-bottom: 30px;
    color: #404040;
    font-size: 40px;
    font-weight: 800;
}

/* ========== navigation ============*/
.pending-post-icon {
    width: 20px;
    height: 20px;
    background-image: url('../img/post-management.png');
    background-position: center;
    background-size: cover;
}

.pending-resident-icon {
    width: 20px;
    height: 20px;
    background-image: url('../img/pending-resident.png');
    background-position: center;
    background-size: cover;
}

.navigation {
    width: 20%;
}

.li-active {
    border-radius: 10px;
    background-color: #a2aaff57;
}

.navigation a {
    color: #000;
}

.navigation ul li {
    padding: 10px;
    cursor: pointer;
}

    .navigation ul li:hover {
        border-radius: 10px;
        background-color: #a2aaff57;
    }

        .navigation ul li:hover > a {
            color: blue !important;
        }


.navigation .icon {
    margin-right: 10px;
}
