/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
:root {
    --backgroundColor: #f5f5f5;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}


/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    font-family: 'Work Sans', sans-serif !important;
    
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* custom css*/
.my-search-input {
    display: flex;
    align-items: center;
    box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.1);
    border-radius: 5px;
    padding: 8px;
}

    .my-search-input input {
        width: 300px;
        border: none;
        outline: none;
        background-color: transparent;
    }

    .my-search-input .search-icon{
        cursor: pointer;
        font-size: 25px;
    }

.my-container{
    padding: 0 8%;
}
