* {
    margin: 0;
    padding: 0;
}

    *:focus {
        outline: 0 !important;
    }

.view-group-container {
    display: flex;
    gap: 20px;
    padding: 0 5%;
}

.group-content {
    width: 60%;
}

.group-infos {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.1);
}

/*======== private group ==========*/
.private-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: fit-content;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.1);
    border-radius: 5px;
}

.private-group-text {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

/* ============= group-infos ============*/

.group-infos {
    padding: 20px;
    height: fit-content;
}

.group-info {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

    .group-info ion-icon {
        font-size: 20px;
    }

.gr-info-title {
    font-weight: 700;
    color: #171717;
    margin-bottom: 5px;
}

.gr-info-content {
    font-weight: 500;
    color: #858585;
}

.group-info img {
    width: 25px;
}

.group-info .group-status {
    display: flex;
    gap: 10px;
    align-items: center;
}

.group-info .group-name {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 10px;
}

.group-info .group-status-text {
    font-size: 18px;
    font-weight: 500;
}

.group-info .join-btn {
    color: #fff;
    width: 100%;
    border: none;
    padding: 14px;
    border-radius: 5px;
    background-color: #007bff;
    font-weight: 600;
    transition: 0.2s;
}

    .group-info .join-btn:hover {
        background-color: #007bffad;
    }

.group-info .asking-btn, .group-info .joined-btn {
    background-color: #2e4f71ad;
    color: #fff;
    width: 100%;
    border: none;
    padding: 14px;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.2s;
    cursor: unset;
}
/*======== public group content =========== */
.not-found-item {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 800;
    color: #191919;
}

.news {
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.1);
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 25px;
}

.news-body {
    margin-left: 45px;
    margin-top: 10px;
}

    .news-body .title {
        font-size: 30px;
        font-weight: 700;
        cursor: pointer;
    }

        .news-body .title a {
            color: #000;
            text-decoration: none;
        }

            .news-body .title a:hover {
                color: #150ec9;
            }

    .news-body .tags {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        cursor: pointer;
        padding: 2px;
    }

        .news-body .tags .tag {
            padding: 5px;
            border: 1px solid #fff;
        }

            .news-body .tags .tag:hover {
                border-radius: 5px;
                background-color: #e4e3e3;
                border: 1px solid #999;
            }

    .news-body .react {
        margin-top: 15px;
        display: flex;
        gap: 20px;
    }

        .news-body .react .likes,
        .news-body .react .comments {
            display: flex;
            gap: 5px;
            cursor: pointer;
            padding: 10px;
        }

        .news-body .react .views {
            display: flex;
            gap: 5px;
            padding: 10px;
        }

            .news-body .react .likes button,
            .news-body .react .comments button,
            .news-body .react .views button {
                border: none;
                background-color: transparent;
            }

        .news-body .react .likes:hover,
        .news-body .react .comments:hover {
            background-color: #e9e8e8;
            border-radius: 5px;
        }


.news .owner {
    display: flex;
    gap: 10px;
}

    .news .owner .name {
        font-weight: 600;
        margin-bottom: 5px;
        cursor: pointer;
    }

    .news .owner .date {
        font-size: 13px;
    }

.news img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.news .infos .flex-text {
    display: flex;
    gap: 5px;
}

.news .infos .flex-textt {
    display: flex;
    gap: 5px;
    align-items: center;
}

    .news .infos .flex-textt img {
        width: 16px;
        height: 16px;
        cursor: unset;
    }

/* ====================== */
