USE [master]
GO
/****** Object:  Database [department_db]    Script Date: 7/5/2022 9:34:14 AM ******/
CREATE DATABASE [department_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'department_web', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\department_web.mdf' , SIZE = 233472KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'department_web_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\department_web_log.ldf' , SIZE = 1785856KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [department_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [department_db]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/5/2022 9:34:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CommentReplies]    Script Date: 7/5/2022 9:34:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentReplies](
	[CommentReplyID] [uniqueidentifier] NOT NULL,
	[UserReplyID] [uniqueidentifier] NOT NULL,
	[CommentID] [uniqueidentifier] NOT NULL,
	[CommentReplyContent] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_tblCommentReply] PRIMARY KEY CLUSTERED 
(
	[CommentReplyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comments]    Script Date: 7/5/2022 9:34:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [uniqueidentifier] NOT NULL,
	[UserCommentID] [uniqueidentifier] NOT NULL,
	[PostID] [uniqueidentifier] NOT NULL,
	[CommentContent] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_tblComment] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Groups]    Script Date: 7/5/2022 9:34:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[GroupID] [uniqueidentifier] NOT NULL,
	[GroupOwnerID] [uniqueidentifier] NOT NULL,
	[GroupName] [nvarchar](50) NOT NULL,
	[GroupDescription] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[PublicStatus] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_tblGroup] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GroupUsers]    Script Date: 7/5/2022 9:34:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupUsers](
	[GroupUserID] [uniqueidentifier] NOT NULL,
	[MemberID] [uniqueidentifier] NOT NULL,
	[GroupID] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_tblGroupUser] PRIMARY KEY CLUSTERED 
(
	[GroupUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Likes]    Script Date: 7/5/2022 9:34:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Likes](
	[LikeID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[PostID] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_tblLike] PRIMARY KEY CLUSTERED 
(
	[LikeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Posts]    Script Date: 7/5/2022 9:34:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[PostID] [uniqueidentifier] NOT NULL,
	[UserPostID] [uniqueidentifier] NOT NULL,
	[GroupPostID] [uniqueidentifier] NULL,
	[PostTypeID] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[LikesTotal] [int] NOT NULL CONSTRAINT [default_LikesTotal]  DEFAULT ((0)),
	[CommentsTotal] [int] NOT NULL CONSTRAINT [default_CommentsTotal]  DEFAULT ((0)),
	[Views] [int] NOT NULL,
	[Tags] [nvarchar](100) NOT NULL,
	[PostContent] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastModified] [datetime] NULL,
	[ApprovedDate] [datetime] NULL,
	[Reason] [nvarchar](250) NULL,
	[NewContent] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_tblPost] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostTypes]    Script Date: 7/5/2022 9:34:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostTypes](
	[PostTypeID] [uniqueidentifier] NOT NULL,
	[PostTypeName] [nvarchar](150) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_tblPostType] PRIMARY KEY CLUSTERED 
(
	[PostTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/5/2022 9:34:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [uniqueidentifier] NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_tblRole] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Status]    Script Date: 7/5/2022 9:34:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Status](
	[StatusID] [int] NOT NULL,
	[StatusName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_tblStatus] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/5/2022 9:34:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [uniqueidentifier] NOT NULL,
	[RoleID] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Password] [varchar](150) NOT NULL,
	[PhoneNumber] [varchar](15) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Email] [varchar](90) NOT NULL,
	[Gender] [bit] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Avatar] [varchar](120) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CommentReplies] ([CommentReplyID], [UserReplyID], [CommentID], [CommentReplyContent], [CreatedDate], [Status]) VALUES (N'877527da-176f-4054-8479-004d0f937aa2', N'bc540130-8d07-42e5-8b0c-a3d8262fb6b1', N'ba07087c-139d-4c75-a6f9-d7d10a82cecc', N'In congue. Etiam justo. Etiam pretium iaculis justo.

In hac habitasse platea dictumst. Etiam faucibus cursus urna. Ut tellus.', CAST(N'2021-08-23 00:00:00.000' AS DateTime), 5)
INSERT [dbo].[CommentReplies] ([CommentReplyID], [UserReplyID], [CommentID], [CommentReplyContent], [CreatedDate], [Status]) VALUES (N'bf0cfac9-1ef0-47ed-8936-056e42e4d4a7', N'dd02e098-2cce-4a04-9be9-16d76e4357d2', N'5e56945f-44c4-4a3e-a220-04a681418f8a', N'Quisque id justo sit amet sapien dignissim vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla dapibus dolor vel est. Donec odio justo, sollicitudin ut, suscipit a, feugiat et, eros.', CAST(N'2021-09-14 00:00:00.000' AS DateTime), 5)
INSERT [dbo].[CommentReplies] ([CommentReplyID], [UserReplyID], [CommentID], [CommentReplyContent], [CreatedDate], [Status]) VALUES (N'4db281c3-8fad-4198-bd49-05af85a22734', N'46dc1d02-4b93-42cd-9863-3901e09fcf33', N'06b66c33-cd92-40d1-bcd8-1c41eaff7a76', N'Curabitur at ipsum ac tellus semper interdum. Mauris ullamcorper purus sit amet nulla. Quisque arcu libero, rutrum ac, lobortis vel, dapibus at, diam.', CAST(N'2021-12-25 00:00:00.000' AS DateTime), 5)
GO
INSERT [dbo].[Comments] ([CommentID], [UserCommentID], [PostID], [CommentContent], [CreatedDate], [Status]) VALUES (N'b2b71920-56f5-4687-b2ae-00a6157ddd65', N'eab628c8-90ec-4a32-9a56-ce60ddeacbac', N'7764c440-5588-4264-9a70-c2608dccb740', N'Hay quá bạn ơi', CAST(N'2021-10-15 00:00:00.000' AS DateTime), 5)
INSERT [dbo].[Comments] ([CommentID], [UserCommentID], [PostID], [CommentContent], [CreatedDate], [Status]) VALUES (N'70c7b661-be5f-4a88-8be1-0240504c835b', N'e1aa7dd7-4b61-438e-83c4-b21e29a008b8', N'2303bc2f-6239-478d-8df3-a59eda249c7e', N'Tuyệt vời', CAST(N'2021-11-07 00:00:00.000' AS DateTime), 5)
INSERT [dbo].[Comments] ([CommentID], [UserCommentID], [PostID], [CommentContent], [CreatedDate], [Status]) VALUES (N'6a70c4c9-21ba-4924-83db-03b8375f4d1b', N'815557cc-5534-4717-91aa-fd75088c96c5', N'3953eaa1-bd32-42af-a784-12523d9549c3', N'Bài viết quá bổ ích', CAST(N'2022-01-15 00:00:00.000' AS DateTime), 5)
GO
INSERT [dbo].[Groups] ([GroupID], [GroupOwnerID], [GroupName], [GroupDescription], [CreatedDate], [PublicStatus], [Status]) VALUES (N'f5f757d1-158e-4fa6-a3dc-0618cc86b34a', N'cb5edf18-cbc0-4c4c-85fd-1bb8fa04a8c7', N'Chung cư văn hoá', N'Aenean fermentum. Donec ut mauris eget massa tempor convallis. Nulla neque libero, convallis eget, eleifend luctus, ultricies eu, nibh.', CAST(N'2022-03-07 00:00:00.000' AS DateTime), 6, 1)
INSERT [dbo].[Groups] ([GroupID], [GroupOwnerID], [GroupName], [GroupDescription], [CreatedDate], [PublicStatus], [Status]) VALUES (N'1a64cd61-c9fe-482b-921d-1c84145266d2', N'815557cc-5534-4717-91aa-fd75088c96c5', N'Chung cư 2', N'In congue. Etiam justo. Etiam pretium iaculis justo.

In hac habitasse platea dictumst. Etiam faucibus cursus urna. Ut tellus.', CAST(N'2021-08-22 00:00:00.000' AS DateTime), 5, 2)
INSERT [dbo].[GroupUsers] ([GroupUserID], [MemberID], [GroupID], [Status]) VALUES (N'b49b7dd5-4dfe-460d-98e7-00cc58745008', N'4c5be4ab-4b6c-413c-ad98-0ef5b0a82c1b', N'c344843d-c8b2-437e-acbb-602f06764b11', 1)
INSERT [dbo].[GroupUsers] ([GroupUserID], [MemberID], [GroupID], [Status]) VALUES (N'19e75748-c570-49e5-b897-00d456dc3618', N'09381d42-2027-4ed2-8151-fdc51bfbe35a', N'0128a1ff-7742-41e7-9ec5-fef92f887e4e', 1)
INSERT [dbo].[GroupUsers] ([GroupUserID], [MemberID], [GroupID], [Status]) VALUES (N'ec244be2-fabe-4692-bedf-00e553cbc929', N'eab628c8-90ec-4a32-9a56-ce60ddeacbac', N'433ef784-2a38-4f26-bf49-a807e47e6b41', 1)
GO
INSERT [dbo].[Likes] ([LikeID], [UserID], [PostID], [Status]) VALUES (N'd03fc102-6e70-44f6-b19b-01255abcafff', N'b7d4b328-ac7c-44e9-a171-84fee0cb5491', N'a2db113d-a17e-4bab-81b4-b04cdf39a03e', 1)
INSERT [dbo].[Likes] ([LikeID], [UserID], [PostID], [Status]) VALUES (N'62206fc4-ddff-4927-8436-01f7375d1540', N'c3fea62d-acb8-4228-83f9-568a49fd34be', N'341348c4-1e57-478d-90da-6d9e4d72d78f', 1)
INSERT [dbo].[Likes] ([LikeID], [UserID], [PostID], [Status]) VALUES (N'd1460130-edc8-46bd-8a45-02e83a423253', N'b3de1a7c-b100-43e4-a2db-85a3b3f557a5', N'0cc50b29-dcb2-45ec-a343-028681d1dd55', 1)
GO
INSERT [dbo].[PostTypes] ([PostTypeID], [PostTypeName], [Status]) VALUES (N'f0560405-3b2b-4173-bab8-ba41c2f549ed', N'News', 1)
INSERT [dbo].[PostTypes] ([PostTypeID], [PostTypeName], [Status]) VALUES (N'b7d8febc-f871-42ce-8164-f2e34e646cbf', N'Announcement', 1)
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Status]) VALUES (N'4be22d4b-c9a0-4e63-be47-1ffbad769140', N'ADMIN', 1)
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Status]) VALUES (N'4cc4c088-1456-4f80-91ba-204afe6af69c', N'RESIDENT', 1)
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Status]) VALUES (N'ca9a5de6-604e-488b-a0dc-55bd5a61bbb6', N'MANAGER', 1)
INSERT [dbo].[Status] ([StatusID], [StatusName]) VALUES (1, N'Active')
INSERT [dbo].[Status] ([StatusID], [StatusName]) VALUES (2, N'Inactive')
INSERT [dbo].[Status] ([StatusID], [StatusName]) VALUES (3, N'Banned')
INSERT [dbo].[Users] ([UserID], [RoleID], [FirstName], [LastName], [Password], [PhoneNumber], [Address], [Email], [Gender], [Username], [Avatar], [Status]) VALUES (N'c2c53dbf-de45-4d34-8841-037d1db915c9', N'4be22d4b-c9a0-4e63-be47-1ffbad769140', N'Phuong', N'Vo', N'admin', N'0971775169', N'TPHCM Viet Nam', N'admin@gmail.com', 1, N'Peter', N'https://robohash.org/veritatisexcepturiquas.png?size=50x50&set=set1', 1)
INSERT [dbo].[Users] ([UserID], [RoleID], [FirstName], [LastName], [Password], [PhoneNumber], [Address], [Email], [Gender], [Username], [Avatar], [Status]) VALUES (N'39d2ae90-e01f-47e3-989f-066d0d67e983', N'4cc4c088-1456-4f80-91ba-204afe6af69c', N'Zia', N'Shemming', N'ahihi', N'252-447-7476', N'263 Memorial Parkway', N'ahihi@gmail.com', 0, N'zshemming7', N'https://robohash.org/solutasedinventore.png?size=50x50&set=set1', 1)
INSERT [dbo].[Users] ([UserID], [RoleID], [FirstName], [LastName], [Password], [PhoneNumber], [Address], [Email], [Gender], [Username], [Avatar], [Status]) VALUES (N'4c5be4ab-4b6c-413c-ad98-0ef5b0a82c1b', N'ca9a5de6-604e-488b-a0dc-55bd5a61bbb6', N'Amitie', N'Pilmer', N'quanly', N'962-756-6856', N'62448 Village Hill', N'quanly@gmail.com', 1, N'apilmerm', N'https://robohash.org/estlaboreoptio.png?size=50x50&set=set1', 1)
ALTER TABLE [dbo].[CommentReplies]  WITH CHECK ADD  CONSTRAINT [FK_CommentReplies_Comments] FOREIGN KEY([CommentID])
REFERENCES [dbo].[Comments] ([CommentID])
GO
ALTER TABLE [dbo].[CommentReplies] CHECK CONSTRAINT [FK_CommentReplies_Comments]
GO
ALTER TABLE [dbo].[CommentReplies]  WITH CHECK ADD  CONSTRAINT [FK_tblCommentReply_tblStatus] FOREIGN KEY([Status])
REFERENCES [dbo].[Status] ([StatusID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommentReplies] CHECK CONSTRAINT [FK_tblCommentReply_tblStatus]
GO
ALTER TABLE [dbo].[CommentReplies]  WITH CHECK ADD  CONSTRAINT [FK_tblCommentReply_tblUser] FOREIGN KEY([UserReplyID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CommentReplies] CHECK CONSTRAINT [FK_tblCommentReply_tblUser]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Posts] FOREIGN KEY([PostID])
REFERENCES [dbo].[Posts] ([PostID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Posts]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_tblComment_tblStatus] FOREIGN KEY([Status])
REFERENCES [dbo].[Status] ([StatusID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_tblComment_tblStatus]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_tblComment_tblUser] FOREIGN KEY([UserCommentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_tblComment_tblUser]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Status] FOREIGN KEY([PublicStatus])
REFERENCES [dbo].[Status] ([StatusID])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Status]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_tblGroup_tblStatus] FOREIGN KEY([Status])
REFERENCES [dbo].[Status] ([StatusID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_tblGroup_tblStatus]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_tblGroup_tblUser] FOREIGN KEY([GroupOwnerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_tblGroup_tblUser]
GO
ALTER TABLE [dbo].[GroupUsers]  WITH CHECK ADD  CONSTRAINT [FK_GroupUsers_Groups] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Groups] ([GroupID])
GO
ALTER TABLE [dbo].[GroupUsers] CHECK CONSTRAINT [FK_GroupUsers_Groups]
GO
ALTER TABLE [dbo].[GroupUsers]  WITH CHECK ADD  CONSTRAINT [FK_tblGroupUser_tblStatus] FOREIGN KEY([Status])
REFERENCES [dbo].[Status] ([StatusID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupUsers] CHECK CONSTRAINT [FK_tblGroupUser_tblStatus]
GO
ALTER TABLE [dbo].[GroupUsers]  WITH CHECK ADD  CONSTRAINT [FK_tblGroupUser_tblUser] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[GroupUsers] CHECK CONSTRAINT [FK_tblGroupUser_tblUser]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_Likes_Posts] FOREIGN KEY([PostID])
REFERENCES [dbo].[Posts] ([PostID])
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_Likes_Posts]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_tblLike_tblStatus] FOREIGN KEY([Status])
REFERENCES [dbo].[Status] ([StatusID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_tblLike_tblStatus]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_tblLike_tblUser] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_tblLike_tblUser]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_Groups] FOREIGN KEY([GroupPostID])
REFERENCES [dbo].[Groups] ([GroupID])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_Groups]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_PostTypes] FOREIGN KEY([PostTypeID])
REFERENCES [dbo].[PostTypes] ([PostTypeID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_PostTypes]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_Status] FOREIGN KEY([Status])
REFERENCES [dbo].[Status] ([StatusID])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_Status]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_Users] FOREIGN KEY([UserPostID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_Users]
GO
ALTER TABLE [dbo].[PostTypes]  WITH CHECK ADD  CONSTRAINT [FK_tblPostType_tblStatus] FOREIGN KEY([Status])
REFERENCES [dbo].[Status] ([StatusID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostTypes] CHECK CONSTRAINT [FK_tblPostType_tblStatus]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [FK_tblRole_tblStatus] FOREIGN KEY([Status])
REFERENCES [dbo].[Status] ([StatusID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [FK_tblRole_tblStatus]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_tblUser_tblRole1] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_tblUser_tblRole1]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_tblUser_tblStatus] FOREIGN KEY([Status])
REFERENCES [dbo].[Status] ([StatusID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_tblUser_tblStatus]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [CK__Posts__CommentsT__6DCC4D03] CHECK  (([commentstotal]>=(0)))
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [CK__Posts__CommentsT__6DCC4D03]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [CK__Posts__LikesTota__6CD828CA] CHECK  (([likestotal]>=(0)))
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [CK__Posts__LikesTota__6CD828CA]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [CK__Posts__Views__55F4C372] CHECK  (([views]>=(0)))
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [CK__Posts__Views__55F4C372]
GO
USE [master]
GO
