@page
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@model MyWeb.Pages.Posts.CreateModel

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/css/CRUD.css" />
<script src="https://cdn.tiny.cloud/1/pyapdqq1dyb1bd234vpnlt6ssc4x4i0ii786ea6y1tz9wypw/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>tinymce.init({ selector: 'textarea' });</script>

<div class="container-fluid">

    <div class="create-post-container">

        <form method="post" id="createPost" class="create-post">
            <div class="post-content-warpper">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group post-title">
                    <input asp-for="Post.Title" class="ip-post-title" placeholder="New Post Title Here" />
                    <span asp-validation-for="Post.Title" class="text-danger"></span>
                </div>
                <div class="top-content">

                    @if (HttpContext.Session.GetString("ROLE") != null
              && HttpContext.Session.GetString("ROLE").Equals("ADMIN"))
                    {
                        <div class="form-group id-hide">
                            <select asp-for="Post.GroupPostId" class="form-control" asp-items="ViewBag.GroupPostId"></select>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex align-items-center">
                            <span class="group-id-label">What group are you posting to: </span>
                            <div class="group-name-select">
                                <select asp-for="Post.GroupPostId" class="form-control" asp-items="ViewBag.GroupPostId"></select>
                            </div>
                        </div>
                    }
                    <div class="form-group post-tags">
                        <input asp-for="Post.Tags" class="ip-tags" placeholder="Add Tags: anounce notice..." />
                        <span asp-validation-for="Post.Tags" class="text-danger"></span>
                    </div>
                    <div class="form-group id-hide">
                        <label asp-for="Post.PostTypeId" class="control-label"></label>
                        <select asp-for="Post.PostTypeId" class="form-control" asp-items="ViewBag.PostTypeId"></select>
                    </div>
                </div>


                <div class="form-group post-description">
                    @*<label asp-for="Post.PostContent" class="control-label"></label>*@
                    <textarea name="@Html.NameFor(m => m.Post.PostContent)" class="textarea" cols="40" rows="40" form="createPost"></textarea>
                    <span asp-validation-for="Post.PostContent" class="text-danger"></span>
                </div>
                <div class="form-group id-hide">
                    <label asp-for="Post.Status" class="control-label"></label>
                    <select asp-for="Post.Status" class="form-control" asp-items="ViewBag.Status"></select>
                </div>

            </div>


            @* submit btn *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

        <div class="user-guide">
            <p class="guide-title">
                Writing a great Post Title
            </p>
            <p class="guide-content">
                Think of your post title as a short (but compelling) description - like
                an overview of the actual post in one short sentence.
                Use tags to help ensure people can easily find your post by search.
            </p>
        </div>
    </div>
    <div>
        <a asp-page="Index"><ion-icon name="arrow-back-outline"></ion-icon> Back to home page</a>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</div>