@page
@model MyWeb.Pages.Groups.CreateModel

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/css/CRUD.css" />


<div class="container-fluid">
    <div class="create-group-container">
        <div class="create-group-wrapper">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group id-hide">
                    <label asp-for="Group.GroupId" class="control-label"></label>
                    <input asp-for="Group.GroupId" class="form-control" />
                    <span asp-validation-for="Group.GroupId" class="text-danger"></span>
                </div>
                <div class="form-group post-title mb-2">
                    <input asp-for="Group.GroupName" class="ip-post-title" placeholder="Group Name Goes Here" />
                    <span asp-validation-for="Group.GroupName" class="text-danger"></span>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <span class="group-id-label">Pick a manager to lead this group: </span>
                    <div class="group-name-select">
                        <select asp-for="Group.GroupOwnerId" class="form-control" asp-items="ViewBag.GroupOwnerId"></select>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <span class="group-id-label">Is this group public to everyone: </span>
                    <div class="group-name-select">
                        <select asp-for="Group.PublicStatus" class="form-control">
                            <option value="true">
                                Public
                            </option>
                            <option value="false">
                                Private
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Group Description</label>
                    <textarea asp-for="Group.GroupDescription" class="form-control"></textarea>
                    <span asp-validation-for="Group.GroupDescription" class="text-danger"></span>
                </div>
                <div class="form-group id-hide">
                    <label asp-for="Group.CreatedDate" class="control-label"></label>
                    <input asp-for="Group.CreatedDate" class="form-control" />
                    <span asp-validation-for="Group.CreatedDate" class="text-danger"></span>
                </div>

                <div class="form-group id-hide">
                    <label asp-for="Group.Status" class="control-label"></label>
                    <select asp-for="Group.Status" class="form-control" asp-items="ViewBag.Status"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
