@page
@model MyWeb.Pages.Groups.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Group.GroupId" class="control-label"></label>
                <input asp-for="Group.GroupId" class="form-control" />
                <span asp-validation-for="Group.GroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.GroupOwnerId" class="control-label"></label>
                <select asp-for="Group.GroupOwnerId" class ="form-control" asp-items="ViewBag.GroupOwnerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Group.GroupName" class="control-label"></label>
                <input asp-for="Group.GroupName" class="form-control" />
                <span asp-validation-for="Group.GroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.GroupDescription" class="control-label"></label>
                <input asp-for="Group.GroupDescription" class="form-control" />
                <span asp-validation-for="Group.GroupDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.CreatedDate" class="control-label"></label>
                <input asp-for="Group.CreatedDate" class="form-control" />
                <span asp-validation-for="Group.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.PublicStatus" class="control-label"></label>
                <select asp-for="Group.PublicStatus" class ="form-control" asp-items="ViewBag.PublicStatus"></select>
            </div>
            <div class="form-group">
                <label asp-for="Group.Status" class="control-label"></label>
                <select asp-for="Group.Status" class ="form-control" asp-items="ViewBag.Status"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
