@page
@model MyWeb.Pages.Groups.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout_Managements";
}

<link rel="stylesheet" href="~/css/CRUD.css" />
<div class="container-fluid">
    <div class="create-group-container">
        <div class="create-group-wrapper">
            <form asp-page="./Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group id-hide">
                    <label asp-for="Group.GroupId" class="control-label"></label>
                    <input asp-for="Group.GroupId" class="form-control" />
                    <span asp-validation-for="Group.GroupId" class="text-danger"></span>
                </div>
                <div class="form-group post-title mb-4">
                    <input asp-for="Group.GroupName" class="ip-post-title" placeholder="Group name goes here" />
                    <span asp-validation-for="Group.GroupName" class="text-danger"></span>
                    @if (ViewData["GroupNameMessage"] != null)
                    {
                        <span class="text-danger">@ViewData["GroupNameMessage"]</span>
                    }
                </div>
                <div class="d-flex align-items-center mb-4">
                    <span class="group-id-label">Pick a manager to lead this group: </span>
                    <div class="group-name-select">
                        <select asp-for="Group.GroupOwnerId" class="form-control" asp-items="ViewBag.GroupOwnerId"></select>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <span class="group-id-label">Is this group public to everyone: </span>
                    <div class="group-name-select">
                        <select asp-for="Group.PublicStatus" class="form-control">
                            <option value="5">
                                Public
                            </option>
                            <option value="6">
                                Private
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Group Description</label>
                    <span asp-validation-for="Group.GroupDescription" class="text-danger"></span>
                    <textarea asp-for="Group.GroupDescription" class="form-control"></textarea>
                </div>

                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </form>
            <div class="mt-3">
                <a asp-page="../Managements/Groups"><ion-icon name="arrow-back-outline"></ion-icon> Back to group management</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
